language: perl6

perl6:
    - latest
    - 2016.01

install:
    - rakudobrew build-zef
    - zef update && zef install PSGI MIME::Types HTTP::Easy::PSGI FastCGI SCGI
script:
    - PERL6LIB=lib prove -v -r --ext p6 --exec=perl6 test/
